{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <form action="{% url 'signup' %}" method="post" class="form-horizontal col-lg-offset-3" role="form">
        <div class="form-group">
            <legend>新規ユーザ登録</legend>
        </div>
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <div class="col-lg-offset-0">
                <button type="submit" class="btn btn-primary">登録</button>
            </div>
        </div>
    </form>
{% endblock %}